# Node modules
node_modules/

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build output
dist/
build/
temp-electron-zip/

# Electron/ASAR
*.asar

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Coverage
coverage/
